<h1>New command for
	{{ userName }}</h1>

<p>
	The command dishes
</p>

<ul>
	{% for dish in commandDishes %}
		<li>{{ dish.name }}</li>
	{% endfor %}
</ul>

<p>
    Date of deliver
</p>

<ul>
    <li>{{ commandDate }}</li>
</ul>